<section class="about">
  <h1>FriendBookについて</h1>
  <p>
    FriendBookは、ブログを投稿したり、友達をフォローしたり<br>
    F*ceb**k感丸出しのアプリです。<br>
  </p>
</section>
<footer>
  <p>運営会社 KsK sun 株式会社</p>
  <p>© 2017- Copyright KsK sun Corp.</p>
</footer>
